In [257]:
import json
import pandas as pd
import numpy as np

file = 'stats.json'

In [258]:
with open(file) as f:
    data = json.load(f)

In [260]:
sample = pd.DataFrame(data['North Carolina Central']['Team'], index = [0])

In [261]:
cols = (sample.keys())

In [262]:
teams = list(data.keys())

In [263]:
df_team = pd.DataFrame(columns=cols)
index = 0

for i in teams:
    row = data.get(i)
    df_team = df_team.append(pd.DataFrame(row['Team'],index = [index]))
    index += 1
    
df_op = pd.DataFrame(columns=cols)
index = 0

for i in teams:
    row = data.get(i)
    df_op = df_op.append(pd.DataFrame(row['Opponent'],index = [index]))
    index += 1

In [264]:
df_team['Team'] = pd.DataFrame(teams)
df_op['Team'] = pd.DataFrame(teams)

In [265]:
df_team.to_csv(r'Team_stats.csv')
df_op.to_csv(r'Opp_stats.csv')

In [266]:
games = pd.read_csv('games.csv')
games.head()

                team1                   team2  round  winner
0             Belmont                  Temple      1       1
1  North Dakota State  North Carolina Central      1       1
2       Arizona State         St. John's (NY)      1       1
3        Prairie View     Fairleigh Dickinson      1       2
4                Duke      North Dakota State      2       1

In [267]:
cols2 = list(cols)
cols2.append('Team')
full = pd.DataFrame()

team1_team = pd.DataFrame()
team2_team = pd.DataFrame()
team1_opp = pd.DataFrame()
team2_opp = pd.DataFrame()

index = 0
for i in games.T:
    
    team1 = games['team1'][i]
    team2 = games['team2'][i]
    
    indext1 = df_team.index[df_team['Team'] == team1]
    indext2 = df_team.index[df_team['Team'] == team2]
    indexo1 = df_team.index[df_op['Team'] == team1]
    indexo2 = df_team.index[df_op['Team'] == team2]
    team1_team = team1_team.append(df_team.iloc[indext1].add_prefix('t1t_'),ignore_index = True)
    team2_team = team2_team.append(df_op.iloc[indext2].add_prefix('t2t_'),ignore_index=True)
    team1_opp = team1_opp.append(df_team.iloc[indexo1].add_prefix('t1o_'),ignore_index = True)
    team2_opp = team2_opp.append(df_op.iloc[indexo2].add_prefix('t2o_'),ignore_index=True)
    
full = pd.concat([games, team1_team,team1_opp,team2_team,team2_opp], axis = 1)

full = full.drop(columns = ['t1t_Team', 't1o_Team', 't2t_Team', 't2o_Team'])

In [268]:
full['round'] = full['round'].astype('category')
full['winner'] = full['winner'].astype('category')

In [269]:
full.to_csv(r'Full_stats.csv')

In [270]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

y = full['winner']
X = full.loc[:, 't1t_g':].astype('float')

model = LogisticRegression()
model.fit(X, y)

score = model.score(X,y)
print(score)

1.0

C:\Users\ande5\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [271]:
predictions = model.predict(X)

In [272]:
cm = metrics.confusion_matrix(y, predictions)
print(cm)

[[38  0]
 [ 0 29]]

In [242]:
intercept = pd.DataFrame(model.intercept_, columns = ['intercept'])

In [273]:
coefs = model.coef_[0]

In [275]:
results = pd.DataFrame(coefs).T

In [276]:
col_rename_dict = {i:j for i,j in zip(results.columns,X.columns)}

In [277]:
results = results.rename(columns = col_rename_dict)

In [278]:
results = pd.concat([intercept, results], axis = 1)

In [280]:
results.to_csv(r'Results.csv')